@model List<LojaVirtualCleiton.Models.ProdutoViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Lista de  Produtos</h2>

<a href="@Url.Action("Editar","Produto")"> Novo Produto</a>

<table>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Categoria</td>
        </tr>
    }

</table>


